# dependencies
**/node_modules

# production
/dist
/.vscode
/ .tgz

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
yarn.lock
package-lock.json
*bak

# visual studio code
.history
*.log

functions/mock
.temp/**


# screenshot
screenshot

.tea
.idea
